/**
ImageService
- Finder
- Uploader
- Messaging
- List
- ListItem (Preview, Attributes, Actions)
*/

/* ImageService Main Container*/
.imageservice-container {
    height: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;
}

/* Finder Styling */
.imageservice-finder {
    box-sizing: border-box;
    line-height: 28px;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.select2-results__option {
    width: 100%;
    display: inline-block;
}

.select2-results__option:nth-child(odd) {
    background-color: #e8e8e8;
}

.imageservice-finder-result ul{
    width: 60%;
    vertical-align: top;
    list-style: none;
}

.imageservice-finder-result ul li {
    width: 100%;
    display: inline-block;
}

.imageservice-finder-result .preview {
    width: 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Uploader Styling */

.imageservice-uploader {
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.imageservice-uploader .btn {
    white-space: normal;
}

/* List-Messaging Style */

.imageservice-message {
    position: absolute;
    left: 0;
    top:45px;
    width: 100%;
    height: 0;
    z-index: 1000;
    display: inline-block;
    padding: 5px;
}

.imageservice-message div {
    cursor: pointer;
    box-shadow: 2px 6px 18px #e9e9e9;
    margin-bottom: 10px;
}

/* List Styling */

.imageservice-list {
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    clear: both;
    border-top: 2px solid lightgrey;
}

/* List-Item Styling */

.imageservice-entity {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    float: left;
    box-sizing: border-box;
}

.imageservice-entity:nth-child(odd) {
    background-color: #eeeeee;
}

.imageservice-entity .imageservice-preview {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    box-sizing: border-box;
}

.imageservice-entity .imageservice-preview img {
    max-height: 122px;
    max-width: 100%;
}

.imageservice-entity .imageservice-attributes {
    display: inline-block;
    margin: 0px;
    box-sizing: border-box;
}

.imageservice-entity .imageservice-entity-actions {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    height: auto;
    box-sizing: border-box;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.imageservice-entity .imageservice-attributes li{
    list-style: none;
    font-size: 11px !important;
}

.imageservice-entity .imageservice-attributes li label{
    display: inline-block;
    line-height: 16px;
    font-size: inherit !important;
    font-weight: bold;
}

.imageservice-entity .imageservice-attributes li input[type="text"],
.imageservice-entity .imageservice-attributes li select,
.imageservice-entity .imageservice-attributes li textarea {
    width: 100%;
    vertical-align: middle;
    margin: 1px 0 1px 0;
    border: 1px solid #ccc;
    font-size: inherit !important;
    height: auto !important;
    padding: 3px;
}

.imageservice-entity .imageservice-attributes .select2.select2-container {
    width: 100% !important;
    font-size: inherit !important;
    height: auto;
    margin: 1px 0;
}

.imageservice-entity .imageservice-attributes .select2.select2-container > span *  {
    padding: 1px;
    margin: 0;
    min-height: 0;
    line-height: 10px !important;
    font-size: inherit !important;
}